---

interface Props {
    name : string;
    url :  string;
    isBig? : boolean;  
}

const {name , url , isBig = false} = Astro.props

const id : string | undefined = url.split('/').at(-2);

const imageSrc : string | undefined = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`


---

<div class="max-w-xs mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition duration-300">
   
    <a href=`/pokemons/${name}`>
        <img 
        transition:name={`${name}-image`}
        class:list={[
            "w-full object-cover ",
            { 'h-72 hover:h-78' : isBig,
              'h-48 hover:h-50' : !isBig,
            }
            ]}  src={imageSrc} alt={name}>
        <div class="p-4" transition:name={`${name}-text`} transition:animate='slide'>
            <h1 class:list={[
                "font-bold text-gray-800 text-center relative overflow-hidden",
                {   
                    "text-4xl": isBig,
                    "text-xl" : !isBig,
                }
            ]}>
                #{id}
                <span class:list={[
                    "inline-block whitespace-nowrap capitalize",
                    {
                        'text-4xl' : isBig,
                        'text-lg' : !isBig
                    }
                ]}>
                    {name}
                </span>
            </h1>
        </div>
    </a>
</div>

